table.table, div.card-body.card-block{
    margin-bottom: 4px;
    padding-bottom: 0;
}
table#printResearches td{
    border: none;
    padding: .15rem;
}
ul#main_nav{
    padding-left: 10px;
}
ul#main_nav li{
    list-style-type: none;
}
.fa-trash{
    cursor: pointer;
}
